name: Create Cypress report
on:
  push:
    branches:
      - 'master'

jobs:
  
  cypress-e2e:
    name: Run Cypress tests
    runs-on: ubuntu-18.04
    container: cypress/base:10
    steps:
      - uses: actions/checkout@v2
      - name: Install a project with a clean slate
        run: |
          npm ci
          $(npm bin)/cypress cache path
          $(npm bin)/cypress cache list
          $(npm bin)/cypress verify
      - name: Run E2E tests
        run: npm run test
        continue-on-error: true
      - name: Copy test execution videos
        run: |
          mkdir public
          cp -r cypress/videos public/videos
      - name: Merge test results into one
        run: npm run report:merge
      - name: Generate HTML report
        run: npm run report:generate
      - name: Deploy report result page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'


